@import "tailwindcss";

:root {
  --gold: #c9a227;
  --cream: #fffdf8;
}

body {
  margin:0;
  background:var(--cream);
  color:#222;
  font-family:
    "Tajawal",
    "Arial",
    sans-serif;
}

.gold-text {
  color:var(--gold);
}

.gold-border {
  border-color:var(--gold);
}

.luxury-bg {
  background:
  radial-gradient(
    circle at top,
    #fff8dc,
    #ffffff
  );
}

::-webkit-scrollbar {
  width:8px;
}

::-webkit-scrollbar-thumb {
  background:#c9a227;
  border-radius:20px;
}
.gold-glow{

box-shadow:
0 0 25px
rgba(201,162,39,.35);

}


.luxury-title{

background:
linear-gradient(
90deg,
#b8860b,
#f5d76e,
#b8860b
);

-webkit-background-clip:text;

color:transparent;

}


.gold-line{

height:2px;

background:
linear-gradient(
90deg,
transparent,
#c9a227,
transparent
);

}
@media(max-width:640px){

h1{

font-size:2.5rem;

}


body{

overflow-x:hidden;

}

}
.gold-shine{

background:
linear-gradient(
90deg,
#b8860b,
#ffe9a0,
#b8860b
);

background-size:200% auto;

animation:
shine 3s linear infinite;

-webkit-background-clip:text;

color:transparent;

}


@keyframes shine{

to{

background-position:
200% center;

}

}